<! DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
  <body>
{% block content -%}
    {% block mainmenu -%}
    <a href="/">Galvena lapa</a>
    <a href="/jauns">Jauns Skolēns</a>
    <a href="/dati">Uz tabulu</a>
    <a href="/delete">Dzēst ierākstu</a>
    <a href="/par">Par</a>
     {% endblock mainmenu -%}
{% endblock -%}
   <p> &copy 2024 Aleksandr Zelukin</p>
  </body>
</html>