  {% extends 'base.html' %}

  {% block title %}
  Tabula
  {% endblock %}

  {% block content %}
  {{ super() }}
  <h1>Skolēnu saraksts</h1>

<table border="1">
<tr>
  <td>Skolēna ID</td>
  <td>Vārds</td>
  <td>Uzvārds</td>
  <td>Personas kods</td>
</tr>
  {%  for el in rows  %}
<tr>
  <td>{{ el[0] }}</td>
  <td>{{ el[1] }}</td>
  <td>{{ el[2] }}</td>
  <td>{{ el[3] }}</td>
</tr>
  {% endfor %}
</table>
<div>
  <h3>Dzēst ierakstu no sarakstā</h3>  
  <form action="/deleterecord" method="post"> 
  Skolēna ID <input type="text" name="id">  
  <input type="submit" value="OK">  
  </form>  
</div>
<!-- <a href="/delete">Dzēst ierākstu</a>  --> 
  {% endblock %}


</html>