<!DOCTYPE html>
<html lang="en">
  <head>
  <title>index</title>
  <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
<h1>Ieeja vietnē</h1>
<form id="login-form" action="/welcome" method="POST">
   <input class="form-control" required type="text" name="username" placeholder="Username"></input>
   <input class="form-control" required type="password" name="password" placeholder="Password"></input>
   <input class="btn btn-primary" type="submit" value="Log In"></input>
</formm>    
<p>Not registered? Sign Up <a href="register">here</a>. </p>
</form>

<footer>
  <p>Author: Aleksandrs<br>
  <a href="mailto:/#">alexandr@example.com</a></p>
</footer> 
  </body>
</html>